<div class="inner-wrapper">
    <h1>{{= user.human_data.first_name }} {{= user.human_data.last_name}}</h1>
    <table class="contact_data_table">
        <tr>
            <td>
                <p class="multilang black_text text-left profile_personnal_number_text" text="profile_personnal_number_text"></p>
            </td>
            <td>
                <p class="black_text text-left profile_personnal_number_text">{{=user.personnal_id}}</p>
            </td>
       </tr>
        <tr>
            <td valign="top">
                <p class="black_text text-left">{{=user.contact.home_address || " "}}</p>
                <p class="black_text text-left">{{=user.contact.home_postal_code}} {{=user.contact.home_city}}</p>
                <p class="black_text text-left">{{=user.contact.home_country}}</p>
            </td>
            <td valign="top">
                <p class="black_text text-left">{{=user.email}}</p>
                <p class="black_text text-left">{{=user.contact.cell_phone}}</p>
            </td>
        </tr>
    </table>
    <div class="links_block top-60">
        <div class="center link silver_very_dark_bg white_text font-HelveticaNeueThin
            profile-download-file pull-left padding-top-40" text="profile_personnal_data"></div>
        <div class="center link silver_very_dark_bg white_text font-HelveticaNeueThin
            profile-download-file pull-left padding-top-40 js_redirect_prof_data" text="profile_professional_data"></div>
        <div class="center link silver_very_dark_bg white_text font-HelveticaNeueThin
            profile-download-file pull-left padding-top-40 profile_parrainez_data" text="profile_parrainez_data"></div>
    </div>
    <div class="bgCover">&nbsp;</div>
    <!-- overlay box -->
    <div class="overlayBox grey_gradient_angle">
        <div class="overlayContent">
            <!--the close button-->
            <div class="overlayTop">
                <a href="#" class="closeOverlay"><img src="/img/close_button.png"></a>
                <h1 class="multilang" text="profile_parrainez_data"></h1>
            </div>
            <p class="multilang" text="profile_parrainez_text"></p>
            <p class="multilang profile_parrainez_enter" text="profile_parrainez_enter"></p>
            <form id="invite_email" name="invite-form" action="">
                <input type="text" name="email" class="parrainez_email"/>
                <button type="button" class="multilang profile_accept_button_p black_gradient_top" text="profile_accept_button_p"></button>
                <button type="button" class="multilang profile_refuse_button_p gray_gradient_top" text="profile_refuse_button_p"></button>
            </form>
            <div id="overlayRewards">
                <span class="silver_dark_bg">20 CHF</span>
                <span class="silver_dark_bg">20 CHF</span>
                <span class="silver_dark_bg">20 CHF</span>
                <span class="silver_dark_bg">20 CHF</span>
                <span class="silver_dark_bg">20 CHF</span>
            </div>
        </div>
    </div>
</div>
