<div class="inner-wrapper">
    <h1>{{= user.human_data.first_name }} {{= user.human_data.last_name}}</h1>
    <div class="text_block">
        <p class="multilang black_text text-left inline" text="profile_text_exam_1"></p>
        <p class="multilang black_text text-left inline bold" text="profile_exam_day"></p>
        <p class="multilang black_text text-left inline bold" text="profile_text_exam_time_morning"></p>
    </div>
    <div class="confirm_block orange_gradient">
        <p class="multilang black_text text-left inline" text="profile_status"></p>
        <p class="multilang black_text text-left bold inline" text="profile_confirmed"></p>
    </div>
    <div class="links_block">
        <div class="center link silver_very_dark_bg white_text font-HelveticaNeueThin
            profile-download-file pull-left" text="profile_text_convocation"></div>
        <div class="center link silver_very_dark_bg white_text font-HelveticaNeueThin
            profile-download-file pull-left" text="profile_text_horaires_detaile"></div>
    </div>
</div>