<div class="inner-wrapper">
    <h1>Indexation</h1>
    <h4 class="multilang grey_text text-left font-HelveticaNeueThin top-15" text="profile_indexation_appear"></h4>
    <div class="indexation_block font-HelveticaNeueThin">
        <div class="indexation_block_left grey_darkest_bg">
                <span class="profile_id_number orange_gradient">000412</span>
            <div class="small_circles_block">
                <div class="inline">
                    <div class="multilang white_text text-center small_circle_padded" text="profile_test_qi"></div>
                </div>
                <div class="inline">
                    <div class="multilang white_text text-center small_circle" text="profile_test_qe"></div>
                </div>
                <div class="inline">
                    <div class="multilang white_text text-center small_circle" text="profile_test_co"></div>
                </div>
            </div>
        </div>
        <div class="indexation_block_right font-HelveticaNeueThin">
            <table class="indexation_table">
                <tr class="tr_top">
                    <td valign="top">
                        <span>Responsable comptable (36 ans) - </span>
                        <span>Finance</span>
                    </td>
                    <td valign="top">
                        <span>10 ans d'experience</span>
                    </td>
                    <td valign="top">
                        <span>Personnalité</span>
                    </td>
                </tr>
                <tr class="tr_middle">
                    <td>
                        <span>CFC d'employe de commerce</span>
                        <span>Brevet federal d'expert comptable</span>
                    </td>
                    <td>
                        <span>Francais C2/ Anglais C2/ Allemand B1</span>
                        <span>Cresus/ Offices/ Windows</span>
                    </td>
                </tr>
                <tr>
                    <td><span>Lausanne VD</span></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><span>Leadership</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="terms_block">
        <h4 class="multilang grey_text text-left bold top-15 font-size-14" text="profile_text_terms"></h4>
        <h4 class="multilang grey_text text-left top-15 font-size-14" text="profile_text_terms_details"></h4>
        <h4 class="multilang grey_text text-left bold top-15 font-size-14" text="profile_indexation_insubscription"></h4>
        <h4 class="multilang grey_text text-left top-15 font-size-14" text="profile_indexation_insubscription_text"></h4>
    </div>
</div>