<div class="bgCover">&nbsp;</div>
<!-- overlay box -->
<div class="overlayBox">
    <div class="overlayContent">
        <!--the close button-->
        <a href="#" class="closeOverlay"><img src="images/close.png"></a>
        <!--normal content-->
        <p class="info">
        <h1>Phonocolor</h1><br>
        Conception: Adriano Florez et Stefan Seewer<br>
        Couleurs: Yves Erard<br>
        Vidéo: Raffaele Elia, Giraf productions <a href="http://www.giraf.ch">www.giraf.ch</a><br>
        Interface, Conception graphique: Lorenz Nussbaumer<br>
        Informatique: Sergei Kostevitch<br>
        Base de données : Morphalou 2.0 -ATILF/ CNRS – Université de Lorraine<br>
        <a href="http://www.cnrtl.fr/lexiques/morphalou">www.cnrtl.fr/lexiques/morphalou</a>
        </p>
    </div>
</div>