<div class="footer white_text black_light_bg row">
    <div class="col-lg-7 col-lg-offset-2 col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 col-xs-10">
        <p class="multilang" text="footer_text"></p>
    </div>
    <table>
        <tr>
            <td><img src="/img/social/WK-twitter.png" class="social-img"/></td>
            <td><img src="/img/social/WK-google.png" class="social-img"/></td>
        </tr>
        <tr>
            <td><img src="/img/social/WK-facebook.png" class="social-img"/></td>
            <td><img src="/img/social/WK-linkedin.png" class="social-img"/></td>
        </tr>
    </table>
</div>