<meta charset="UTF-8">
<title>WitKen</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" href="/css/tags.css" />
<link rel="stylesheet" href="/css/colors.css" />
<link rel="stylesheet" href="/css/witken_controls.css" />
<link rel="stylesheet" href="/css/header.css" />
<link rel="stylesheet" href="/css/central.css" />
<link rel="stylesheet" href="/css/footer.css" />