<link rel="stylesheet" href="/css/examen.css" />

<div class="card black_light_bg white_text row">
    <h1 class="multilang col-lg-12" text="general_examen"></h1>
    <br />
    <p class="multilang col-lg-6 col-md-6 col-sm-6 col-xs-12" text="examen_description"></p>
</div>

<div class="card grey_light_bg row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="multilang text-right" text="examen_inscription_title"></h1>
        §§ if(events.length>0){;§
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="locations">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="dates">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="times">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-8 col-md-3 col-md-offset-8 col-sm-3 col-sm-offset-8 col-xs-12 text-right" id="button_div">

            </div>
        </div>
        §§}else{;§
        <div class="alert alert-danger">
            <p>Sorry, no events this time...</p>
        </div>
        §§};§
    </div>
</div>

<script>
    var events = §§-JSON.stringify(events);§;
    
    var onDataLoaded = function() {
        $('#locations').html('');
        $('#dates').html('');
        $('#times').html('');
        
        constructLocations();
        constructDates();
        constructTimes();
        if(locationElementSelected){
            locationElementSelected = null;
            locationSelected = null;
            dateSelected = null;
            timeElementSelected = null;
            timeSelected = null;
            constructLocations();
            constructDates();
            constructTimes();
        }
        setupWitkenCircleControls();
    };
    
    var locationSelected;
    var dateSelected;
    var timeSelected;
    
    var locationElementSelected;
    var timeElementSelected;
    
    var constructLocations = function() {
        $('#locations').html('');
        for (var i = 0; i < events.length; i++) {
            var venue = events[i].venue.city + ", " + events[i].venue.country;
            var id = events[i].venue.id;
            if (hasPlace(events[i])) {
                addLocation(venue, id);
            }
        };
        $('.location').click(function(){
            selectLocation($(this));
        });
    }
    
    var selectLocation = function(loc){
        $('.location').each(function(){
            $(this).removeClass('active');
            $(this).css('background-color', 'rgb(48,49,53)');
        });
        loc.addClass('active');
        loc.css('background-color', 'rgb(91, 151, 40)');
        
        locationElementSelected = loc;
        locationSelected = loc.children().text();
        dateSelected = null;
        constructDates();
    }

    var constructDates = function() {
        if (locationSelected) {
            $('#dates').html(generateSelectorCircleWithId('datesCircle'));            
            for (var i = 0; i < events.length; i++) {
                var d = new Date(events[i].start_date);
                var startDate = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
                var location = events[i].venue.city + ", " + events[i].venue.country;
                if (locationSelected === location && hasPlace(events[i])) {
                    addDate(startDate);
                    if(!dateSelected){
                        dateSelected = startDate;
                    }
                }
            };
            setupWitkenCircleControls();
            constructTimes();
        } else {
            hideDates();
            hideTimes();
            hideBtn();
        }
    }

    var constructTimes = function() {
        if (locationSelected && dateSelected) {
            $('#times').html('');
            timeElementSelected = null;
            timeSelected = null;
            $('#button_div').html('');
            for (var i = 0; i < events.length; i++) {
                var d = new Date(events[i].start_date);
                var startTime = d.getHours() < 12 ? "Morning" : "Afternoon";
                var startDate = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
                var location = events[i].venue.city + ", " + events[i].venue.country;
                if (dateSelected === startDate && locationSelected === location && hasPlace(events[i])) {
                    addTime(startTime);
                }
            };
            setupWitkenCircleControls();
            $('.time').click(function(){
                selectTime($(this));
            });
        } else {
            hideTimes();
            hideBtn();
        }
    }
    
    var selectTime = function(time){
        $('.time').each(function(){
            $(this).removeClass('active');
            $(this).css('background-color', 'rgb(48,49,53)');
        });
        time.addClass('active');
        time.css('background-color', 'rgb(91, 151, 40)');
        
        timeElementSelected = time;
        timeSelected = time.children().text();
        $('#button_div').html('<button type="button" class="btn btn-default" id="proceed-btn">Proceed</button>');
        $('#proceed-btn').click(function(){
            var event = getChoosenEvent();
            if(!event){
                alert('Error!');
            }else{
                window.location.href = event.url;
            }
        });
    }

    var hasPlace = function(event) {
        var available = 0;
        for (var i = 0; i < event.tickets.length; i++) {
            var ticket = event.tickets[i];
            available += parseInt(ticket.quantity_available) - parseInt(ticket.quantity_sold);
        }
        return available != 0;
    }

    var getChoosenEvent = function() {
        for (var i = 0; i < events.length; i++) {
            var d = new Date(events[i].start_date);
            var startTime = d.getHours() < 12 ? "Morning" : "Afternoon";
            var startDate = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
            var location = events[i].venue.city + ", " + events[i].venue.country;

            if (startTime === timeSelected && startDate === dateSelected && location === locationSelected) {
                return events[i];
            }
        }

        return undefined;
    }
    
    var addLocation = function(venue, id){
        $('#locations').html($('#locations').html() + generateTextCircle(venue, 'location'));
    }
    
    var addDate = function(startDate){
        $('#datesCircle').html($('#datesCircle').html()+'<option>'+startDate+'</option>');
    }
    
    var addTime = function(startTime){
        $('#times').html($('#times').html() + generateTextCircle(startTime, 'time'));
    }
    
    var hideDates = function(){
        $('#dates').html('');
        dateSelected = null;
    }
    
    var hideTimes = function(){
        $('#times').html('');
        timeSelected = null;
    }
    
    var hideBtn = function(){
        $('#proceed_btn').addClass('hide');
    }
    
    var generateTextCircle = function(text, cl){
        return '<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><div class="link circle_control text-center '+cl+'">'+'<p class="white_text">'+text+'</p>'+'</div></div>'
    }
    
    var generateSelectorCircleWithId = function(id){
        return '<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3"><div class="circle_control text-center no-hover date">'+'<select id="'+id+'">'+'</select>'+'</div></div>'
    }
</script>