<link rel="stylesheet" href="/css/index.css" />

<div>
    <div id="index_carousel" class="carousel slide black_light_bg row" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active row">
                <img src="/img/index_carousel_slide_1_hand.png" class="col-lg-4" style="margin-top: 100px" onload="setupFooter();">
                <h1 class="multilang col-lg-6 col-lg-offset-2 white_text" text="index_slide1_title"></h1>
                <span class="multilang grey_text italic col-lg-6 col-lg-offset-2" text="index_slide1_text"></span>

                <div class="carousel-caption col-lg-4 col-lg-offset-5 gold_text witken_button">
                    <div>
                        <span class="multilang link" text="general_decouvrez">
                        </span>
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>

                </div>
            </div>

            <div class="item row">
                <img src="/img/index_carousel_slide_1_hand.png" class="col-lg-4" style="margin-top: 100px" onload="setupFooter();">
                <h1 class="multilang col-lg-6 col-lg-offset-2 white_text" text="index_slide1_title"></h1>
                <span class="multilang grey_text italic col-lg-6 col-lg-offset-2" text="index_slide1_text"></span>

                <div class="carousel-caption col-lg-4 col-lg-offset-5 gold_text witken_button">
                    <div>
                        <span class="multilang link" text="general_decouvrez">
                        </span>
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>

                </div>
            </div>

            <div class="item row">
                <img src="/img/index_carousel_slide_1_hand.png" class="col-lg-4" style="margin-top: 100px" onload="setupFooter();">
                <h1 class="multilang col-lg-6 col-lg-offset-2 white_text" text="index_slide1_title"></h1>
                <span class="multilang grey_text italic col-lg-6 col-lg-offset-2" text="index_slide1_text"></span>

                <div class="carousel-caption col-lg-4 col-lg-offset-5 gold_text witken_button">
                    <div>
                        <span class="multilang link" text="general_decouvrez">
                        </span>
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>

                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#index_carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#index_carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="col-lg-12 btn-group index_footer grey_dark_bg row">
        <div class="col-lg-4 right_border">
            <h3 class="multilang" text="index_footer1_title"></h3>
            <span class="multilang" text="index_footer1_text"></span>
            <br/>
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </div>
        <div class="col-lg-4">
            <h3 class="multilang" text="index_footer1_title"></h3>
            <span class="multilang" text="index_footer1_text"></span>
            <br/>
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </div>
        <div class="col-lg-4 left_border">
            <h3 class="multilang" text="index_footer1_title"></h3>
            <span class="multilang" text="index_footer1_text"></span>
            <br/>
            <i class="glyphicon glyphicon-chevron-right pull-right"></i>
        </div>
    </div>
</div>
<script>
    var onDataLoaded = function() {
        console.log('Index content loaded');
        $('.index_footer').each(function(){
            $(this).css('width', $('#index_carousel').css('width'));   
        });
    };
</script>