<link rel="stylesheet" href="/css/label.css" />


<div class="card dark row">
    <h1 class="multilang col-lg-12" text="general_label"></h1>    
    <br />
    <p class="multilang col-lg-6" text="label_description"></p> 
    <img src="/img/label_tablette.png" class="col-lg-4 col-lg-offset-1" onload="setupFooter"/>
</div>
<div class="card light row">
    <h1 class="multilang col-lg-12" text="general_label"></h1>    
    <br />
    <p class="multilang col-lg-6" text="label_description"></p> 
    <img src="/img/label_tablette.png" class="col-lg-4 col-lg-offset-1" onload="setupFooter"/>
</div>

<script>
    var onDataLoaded = function() {
        console.log('Label content loaded');
    };
</script>