<h1>§§=user.human_data.first_name;§ §§=user.human_data.last_name;§</h1>
<p class="link js_redirect_logout pull-right">logout</p>
<br />
<span class="multilang font-HelveticaNeueThin" text="profile_next_exam_1"></span>
§§=new Date(user.eventbrite[0].event.start_date).toLocaleDateString();§
<span class="multilang font-HelveticaNeueThin" text="profile_next_exam_2"></span>
§§=new Date(user.eventbrite[0].event.start_date).toTimeString();§
<span class="multilang font-HelveticaNeueThin" text="profile_next_exam_3"></span>
§§=new Date(user.eventbrite[0].event.end_date).toTimeString();§
<script>
    §§- include ../onDataLoadedScripts/profile.js ;§
</script>