<footer class="white_text black_light_bg">
    <div class="footer_wrapper black_light_bg">
        <div class="copyright">
            <p class="multilang grey_text" text="footer_text"></p>
        </div>
        <table>
            <tr>
                <td><img src="/img/social/WK-Twitter.png" class="social-img"/></td>
                <td><img src="/img/social/WK-google.png" class="social-img"/></td>
            </tr>
            <tr>
                <td><img src="/img/social/WK-facebook.png" class="social-img"/></td>
                <td><img src="/img/social/WK-linkedin.png" class="social-img"/></td>
            </tr>
        </table>
    </div>
</footer>