<div class="index_header grey_dark_bg">
	<div class="header grey_dark_bg">
		<div class="logo">
			<img src="/img/WKlogo.png" class="link js_redirect_index logo" />
		</div>
        <div class="menu_item user-content red_gradient white_text">
            <img src="/img/WK-Info_white.png" class="info_icon">
            {{ if(user==='None' || user === undefined){ }}
            <h3 text="general_registration" class="multilang link js_redirect_login"></h3>

            {{ }else{ }}
            <h3 class="link js_redirect_profile">{{= user.human_data.first_name }} {{= user.human_data.last_name}}</h3>
            <p text="general_registration" class="multilang link js_redirect_profile"></p>
            {{ } }}
        </div>
        <div class="menu_item">
            <h3 text="general_language_switch" class="multilang link js_redirect_language"></h3>
            <small>
                <ul class="list-unstyled">
                    <li text="general_language_current" class="multilang"></li>
                    <li>
                        <br/>
                    </li>
                </ul>
            </small>
        </div>
		<div class="menu_item">
			<h3 text="general_witken" class="multilang link js_redirect_witken"></h3>
			<small>
				<ul class="list-unstyled">
					<li text="header_witken_nous_text" class="multilang"></li>
					<li text="header_witken_partenaires_text" class="multilang"></li>
				</ul>
			</small>
		</div>
        <div id="header_label" class="menu_item">
            <h3 text="general_label" class="multilang link js_redirect_label"></h3>
            <small>
                <ul class="list-unstyled">
                    <li text="header_label_examen_text" class="multilang"></li>
                    <li text="header_label_description_text" class="multilang"></li>
                </ul>
            </small>
        </div>
        <div class="menu_item">
            <h3 text="general_emploi" class="multilang link js_redirect_examen"></h3>
            <small>
                <ul class="list-unstyled">
                    <li text="header_emploi_text" class="multilang"></li>
                </ul>
            </small>
        </div>
	</div>
</div>
