<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WitKen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container-fluid">
        <div class="header row">
            <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-12">
                <img src="img/WKlogo.png" id="logo" />
            </div>

            <div class="bottom-aligned col-lg-7 col-md-9 col-sm-9 col-xs-12">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
                    <h3 id="text_Label">Label</h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_description">description</li>
                            <li id="text_reconnaissance">reconnaissance</li>
                        </ul>
                    </small>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <h3 id="text_Examen">Examen</h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_inscription_etc">inscription,
                                <br/>date, lieu & prix</li>
                        </ul>
                    </small>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <h3 id="text_Indexation">Indexation</h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_comment">comment?</li>
                            <li id="text_pour_qui">pour qui?</li>
                        </ul>
                    </small>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <h3 id="text_Witken">Witken</h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_nous">nous</li>
                            <li id="text_nos partenaires">nos partenaires</li>
                        </ul>
                    </small>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <h3 id="text_Language_switch">English</h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_Language_current">francais</li>
                        </ul>
                    </small>
                </div>
            </div>
            <div class="user-space-support col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <h3>Login</h3>
            </div>
        </div>

        <div class="central row">
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-sm-10 col-xs-12" id="content">
                <div class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" id="">
                        <div class="carousel-slide item active">
                            <h1>First Slide</h1>
                        </div>
                        <div class="carousel-slide item">
                            <h1>Second Slide</h1>
                        </div>
                        <div class="carousel-slide item">
                            <h1>Third Slide</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-space-support col-lg-2 col-md-2 col-sm-2 hidden-xs">
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <p class="muted credit">This is a sticky footer</p>
            </div>
        </div>
    </div>
</body>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ui.js"></script>

<script>
    $(document).ready(function() {
        initiate();
    });
</script>

</html>