<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WitKen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container-fluid">
        <div class="header row">
            <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-0 col-sm-1 col-sm-offset-0 col-xs-8">
                <a href="/?lang=<%=lang%>">
                    <img src="img/WKlogo.png" id="logo" />
                </a>
            </div>
            <div class="mobile_login user-space-support visible-xs col-xs-4">
                <h3 id="text_Login" class="multilang link"></h3>
            </div>

            <div class="bottom-aligned header_menu col-lg-7 col-md-9 col-sm-9 col-xs-11 col-xs-offset-0">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-12">
                    <h3 id="text_Label" class="multilang link"></h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_description" class="multilang link"></li>
                            <li id="text_reconnaissance" class="multilang link"></li>
                        </ul>
                    </small>
                </div>
                <div class="header_menu_item col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <h3 id="text_Examen" class="multilang link"></h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_inscription_etc" class="multilang link"></li>
                        </ul>
                    </small>
                </div>
                <div class="header_menu_item col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <h3 id="text_Indexation" class="multilang link"></h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_comment" class="multilang link"></li>
                            <li id="text_pour_qui" class="multilang link"></li>
                        </ul>
                    </small>
                </div>
                <div class="header_menu_item col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <h3 id="text_Witken" class="multilang link"></h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_nous" class="multilang link"></li>
                            <li id="text_nos_partenaires" class="multilang link"></li>
                        </ul>
                    </small>
                </div>
                <div class="header_menu_item col-lg-2 col-md-2 col-sm-2 hidden-xs">
                    <h3 id="text_Language_switch" class="multilang link"></h3>
                    <small>
                        <ul class="list-unstyled">
                            <li id="text_Language_current" class="multilang link"></li>
                        </ul>
                    </small>
                </div>
            </div>
            <div class="user-space-support col-lg-2 col-md-2 col-sm-2 hidden-xs">
                <h3 id="text_Login" class="multilang link">Login</h3>
            </div>
        </div>

        <div class="central row">
            <div id="content" class="col-lg-8 col-lg-offset-1 col-md-10 col-sm-10 col-xs-12">
                <h1>Index Content</h1>
            </div>

            <div class="user-space-support col-lg-2 col-md-2 col-sm-2 hidden-xs">
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <p class="muted credit">This is a sticky footer</p>
            </div>
        </div>
    </div>
</body>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ui.js"></script>
<script src="js/lang/<%= lang %>.js"></script>
<script src="js/comm.js"></script>
    
<script>
    var current_lang = "<%= lang %>"
    $(document).ready(function() {
        setLocalTexts();
        $(window).resize(function() {
            initiate();
        });
        initiate();
        setupOnClickEvents();
    });
</script>

</html>