<html>
	<head>
		{{- include head.html}}
		<link rel="stylesheet" href="/css/label.css" />
	</head>
	<body>
		{{- include header.html}}
        <div id="central">
            <div class="card-wrapper">
                <div class="card">
                    <div class="card_text_left">
                        <h1 class="multilang" text="general_label"></h1>
                        <p class="multilang" text="label_description"></p>
                    </div>
                    <img src="/img/label_tablette.png" class="tablet"/>
                </div>
                <div class="card">
                    <div class="card_image_left" id="labels_images_div">
                        <img id="label_area" src="/img/wk_white_label.png" class="gold_bg img-circle label_border" />
                        <div class="btn-group">
                            <img id="gold_label_small" class="gold_bg img-circle card_black_border js_label" />
                            <img id="silver_label_small" class="silver_bg img-circle js_label" />
                            <img id="bronze_label_small" class="bronze_bg img-circle js_label" />
                        </div>
                    </div>
                    <div class="card_text_right">
                        <div id="label_or_text">
                            <h1 class="multilang text-right" text="label_label_or"></h1>
                            <p class="multilang" text="label_label_or_description"></p>
                        </div>
                        <div class="hide" id="label_silver_text">
                            <h1 class="multilang text-right" text="label_label_silver"></h1>
                            <p class="multilang" text="label_label_silver_description"></p>
                        </div>
                        <div class="hide" id="label_bronze_text">
                            <h1 class="multilang text-right" text="label_label_bronze"></h1>
                            <p class="multilang" text="label_label_bronze_description"></p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_text_left">
                        <h1 class="multilang" text="label_securite_title"></h1>
                        <p class="multilang" text="label_securite_description"></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_text_right">
                        <h1 class="multilang text-right" text="label_reconnaissance_title"></h1>
                        <p class="multilang" text="label_reconnaissance_description"></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_text_left">
                        <h1 class="multilang" text="label_certificat_title"></h1>
                        <p class="multilang" text="label_certificat_description"></p>
                    </div>
                </div>
            </div>
        </div>
		{{- include footer.html }}
	</body>
	<script>
	var currentLabeldescription;
	var onDataLoaded = function () {
		if (!currentLabeldescription) {
		currentLabeldescription = $('#gold_label_small');
		}
		$('#label_silver_text').removeClass('hide');
		$('#label_bronze_text').removeClass('hide');
		$('#label_silver_text').hide();
		$('#label_bronze_text').hide();
		$('.js_label').each(function () {
			$(this).mouseenter(function () {
				showLabelDescription($(this));
			});
		});
		showLabelDescription(currentLabeldescription);
	};
	var showLabelDescription = function (label) {
		$('.js_label').each(function () {
			$(this).removeClass('card_black_border');
		});
		label.addClass('card_black_border');
		$('#label_area').removeClass('gold_bg');
		$('#label_area').removeClass('silver_bg');
		$('#label_area').removeClass('bronze_bg');
		$('#label_or_text').hide();
		$('#label_silver_text').hide();
		$('#label_bronze_text').hide();
		currentLabeldescription = label;
		switch (label.attr('id')) {
			case "gold_label_small":
				$('#label_area').addClass('gold_bg');
				$('#label_or_text').show();
				break;
			case "silver_label_small":
				$('#label_area').addClass('silver_bg');
				$('#label_silver_text').show();
				break;
			case "bronze_label_small":
				$('#label_area').addClass('bronze_bg');
				$('#label_bronze_text').show();
				break;
		}
	}
	</script>
	{{- include scripts.html}}
</html>