<html>
	<head>
		{{- include head.html}}
		<link rel="stylesheet" href="/css/profile.css" />
	</head>
	<body>
        <div class="body-wrapper">
            {{- include header.html}}
            <div id="central">
                <div class="profile-wrapper">
                    <div class="profile silver_light_bg">
                        <!-- user object has the following structure:
                        {
                            email,
                            job: {
                                job_title,
                                work_address
                            },
                            contact: {
                                home_phone,
                                cell_phone,
                                home_address,
                                home_postal_code,
                                home_country,
                                home_city
                            },
                            human_data: {
                                prefix,
                                first_name,
                                last_name,
                                gender,
                                birth_date,
                            },
                            state
                        }

                        State can be 0,1,2,3,4 or 5. You can find details below.
                        Each of this fields can be accessed like {{= user.email}} -->
                        <div id="profile-examen" class="profile-content">
                            {{-include profile/exam-ads.html}}
                            {{if(user.state === 0){ }}
                            {{-include profile/no-content.html}}
                            <!-- User did never start the online test, we should never be here!! -->
                            {{ }else if(user.state === 1){ }}
                            <!-- User started the online test, but not finished it, here we can have a link to test? -->
                            {{ }else if(user.state === 2){ }}
                            <!-- User finished the online test, but did not registered for examen. Before it, user should fill the professionnal data form  -->
                            {{ }else if(user.state === 3){ }}

                            <!-- User is registered for the examen -->
                            {{ }else if(user.state === 4){ }}
                            {{-include profile/exam-passed.html}}
                            <!-- The examen already passed, but no results for the moment. -->
                            {{ }else if(user.state === 5){ }}
                            {{-include profile/exam-confirmed.html}}
                            <!-- Results of the exam are aviable -->
                            {{ } }}
                        </div>
                        <div id="profile-label_and_certificats" class="profile-content hide">
                            {{-include profile/result-exam-display.html}}
                            {{if(user.state === 0){ }}
                            {{-include profile/no-content.html}}
                            <!-- User did never start the online test, we should never be here!! -->
                            {{ }else if(user.state === 1){ }}
                            <!-- User started the online test, but not finished it, here we can have a link to test? -->
                            {{ }else if(user.state === 2){ }}
                            <!-- User finished the online test, but did not registered for examen. Before it, user should fill the professionnal data form  -->
                            {{ }else if(user.state === 3){ }}
                            <!-- User is registered for the examen -->
                            {{ }else if(user.state === 4){ }}
                            {{-include profile/result-exam-confirmed.html}}
                            <!-- The examen already passed, but no results for the moment. -->
                            {{ }else if(user.state === 5){ }}
                            <!-- Results of teh exam are aviable -->
                            {{ } }}
                        </div>
                        <div id="profile-indexation" class="profile-content hide">
                            {{-include profile/indexation-show-profile.html}}
                        </div>
                        <div id="profile-messages" class="profile-content hide">
                            {{-include profile/messages-exist.html}}
                            {{if(user.state === 0){ }}
                            <!-- User did never start the online test, we should never be here!! -->
                                {{-include profile/no-content.html}}
                            {{ }else if(user.state === 1){ }}
                            <!-- User started the online test, but not finished it, here we can have a link to test? -->
                            {{ }else if(user.state === 2){ }}
                            <!-- User finished the online test, but did not registered for examen. Before it, user should fill the professionnal data form  -->
                            {{ }else if(user.state === 3){ }}
                            <!-- User is registered for the examen -->
                            {{ }else if(user.state === 4){ }}
                            <!-- The examen already passed, but no results for the moment. -->
                            {{ }else if(user.state === 5){ }}
                            <!-- Results of teh exam are aviable -->
                            {{ } }}
                        </div>
                        <div id="profile-compte" class="profile-content hide">
                            {{-include profile/contact-form.html}}
                            {{if(user.state === 0){ }}
                            <!-- User did never start the online test, we should never be here!! -->
                                {{-include profile/no-content.html}}
                            {{ }else if(user.state === 1){ }}
                            <!-- User started the online test, but not finished it, here we can have a link to test? -->
                            {{ }else if(user.state === 2){ }}
                            <!-- User finished the online test, but did not registered for examen. Before it, user should fill the professionnal data form  -->
                            {{ }else if(user.state === 3){ }}
                            <!-- User is registered for the examen -->
                            {{ }else if(user.state === 4){ }}
                            <!-- The examen already passed, but no results for the moment. -->
                            {{ }else if(user.state === 5){ }}
                            <!-- Results of teh exam are aviable -->
                            {{ } }}
                        </div>
                    </div>
                    <div id="profile-menu" class="silver_dark_bg white_text">
                        <ul class="list-unstyled">
                            <li class="profile-menu-item active silver_very_dark_bg link">
                                <h4 class="multilang" text="general_examen"></h4>
                            </li>
                            <li class="profile-menu-item link">
                                <h4 class="multilang" text="general_label_and_certificats"></h4>
                            </li>
                            <li class="profile-menu-item link">
                                <h4 class="multilang" text="general_indexation"></h4>
                            </li>
                            <li class="profile-menu-item link">
                                <h4 class="multilang" text="general_messages"></h4>
                            </li>
                            <li class="profile-menu-item link">
                                <h4 class="multilang" text="general_compte"></h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		{{- include footer.html }}
	</body>
	<!-- TODO -->
	<!-- Probably put this fucking shit in an external file? =( -->
	<script>
		var emailRE = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

		var currentPage;

		var onDataLoaded = function () {
			$('.js_redirect_logout').click(function () {
			document.location.href = document.location.origin + '/logout' + '?lang=' + current_lang;
			});
			bindOnClickEventForContentClass('.js_redirect_professional_data', '/profile/prof_data');
			if ($(window).width() >= normal_screen) {
				$('#profile-menu').css('left', 10);
				$('.profile').css('left', 10);
			} else {
				$('#profile-menu').css('left', 0);
				$('.profile').css('left', 0);
			}
			$('.profile-content').each(function () {
				$(this).removeClass('hide');
				$(this).hide();
			});
			$('.profile-content').height($('#profile-menu').height()-80);
			
			if(!currentPage){
				currentPage = $('#profile-examen');
			}
	
			$('#invite_btn').click(function(){
				var params = {
					invitation: {
						email: $('#email').val()
					}
				};

				if(!emailRE.test($('#email').val())){
					if(!$('#email_invite').hasClass('has-error')){
						$('#email_invite').addClass('has-error');
					}
					$('#email_error_block').text('Wrong email format');
				}else{
					$.post('/api/invite', params, function(data){
						if(data.err){
							if(!$('#email_invite').hasClass('has-error')){
								$('#email_invite').addClass('has-error');
							}
							$('#email_error_block').text('Error: '+data.err.error_message);
						}else if(data.status === 'ok'){
							$('#invite_btn').prop('disabled', true);
							$('#email_invite').prop('disabled', true);
							$('#email_invite').addClass('has-success');
							$('#email_error_block').text($('#email').val()+' successfully invited!');
						}
					});
				}
			});
			showProfilePage(currentPage);
			bindOnClickEventForMenuItems();
			setupDownloadsLinks();
			{{ if(user.examen) { }}
				var params = {
					exam_id: {{= user.examen.eb_id}}
				};
				$.get('/api/exam_sts', params, function (data) {
					$('#exam_status').html('<span class="font-HelveticaNeueThin">Status : </span>' + (data.status ? 'Confirme' : 'Pas confirme'));
				});
			{{ } }}
		};
	
		function setupDownloadsLinks() {
			$('.profile-download-file').each(function () {
				$(this).html('<span>' + getTextForId($(this).attr('text')) + '</span><br/><img class="profile-download-img" src="/img/tools/WK-Download.png" width=45 style="margin-top: 30px;"/>');
			});
			$('#profile-indexation > .profile-download-file').each(function(){
				$(this).css('margin-left', $(this).parent().width()/2 - $(this).width()/2);
			});
		}

		var bindOnClickEventForMenuItems = function () {
			var addActiveClass = function (element) {
				element.addClass('active');
				element.addClass('silver_very_dark_bg');
			}
			var removeActiveClass = function (element) {
				element.removeClass('active');
				element.removeClass('silver_very_dark_bg');
			}
			$('.profile-menu-item').each(function () {
				$(this).click(function () {
					$('.profile-menu-item').each(function () {
						removeActiveClass($(this));
					});
					addActiveClass($(this));
					switch ($(this).children().attr('text')) {
					case 'general_examen':
					showProfilePage($('#profile-examen'));
					break;
					case 'general_results':
					showProfilePage($('#profile-resultat'));
					break;
					case 'general_label_and_certificats':
					showProfilePage($('#profile-label_and_certificats'));
					break;
					case 'general_indexation':
					showProfilePage($('#profile-indexation'));
					break;
					case 'general_messages':
					showProfilePage($('#profile-messages'));
					break;
					case 'general_compte':
					showProfilePage($('#profile-compte'));
					break;
					default:
					return;
					}
				});
			});
		}

		var showProfilePage = function (page) {
			$('.profile-content').each(function () {
				$(this).hide();
			});
			page.show();
			currentPage = page;
			setupDownloadsLinks();
		}
	</script>
	{{- include scripts.html}}
    <script src="/js/profile.js" type="text/javascript"></script>
</html>