<script src="//tdcdn.blob.core.windows.net/toolbar/assets/prod/td.js" data-trackduck-id="5337273396752f5143c41047" async=""></script>
<script src="/js/frameworks/jquery-1.11.0.min.js"></script>
<script src="/js/slippry.js"></script>
<script src="/js/functions.js"></script>
<script src="/js/frameworks/bootstrap.min.js"></script>
<script src="/js/frameworks/jquery.blockUI.js"></script>
<script src="/js/ui.js"></script>
<script src="/js/comm.js"></script>
<script src="/js/lang/{{= lang }}.js"></script>

<script>
    var current_lang = "{{= lang }}";
    $(document).ready(function() {
        setLocalTexts();
        setupOnClickEvents();
    });
    $(window).load(function() {
        $(window).resize(function() {
            initiate();
            onDataLoaded();
        });
        initiate();
        onDataLoaded();
    });
</script>
