<html>
<head>
    {{- include head.html}}
    <link rel="stylesheet" href="/css/signup.css" />
</head>
<body>
<div class="body_wrapper">
    {{- include header.html}}
    <div id="central">
        <div class="card grey_dark_bg card-wrapper">
            <div class="" id="signup_form">
                <h1>S'inscrire</h1>
                <form action="" id="register_form">
                    <fieldset>
                        <label class="multilang signup_email" text="signup_email"></label>
                        <input type="text" class="form-control" id="email" name="email">
                        <label class="multilang signup_password" text="signup_password"></label>
                        <input type="password" class="form-control" id="password" name="password">
                        <label class="multilang signup_password_repeat" text="signup_password_repeat"></label>
                        <input type="password" class="form-control" id="password_v" name="repeat_pass">
                    </fieldset>
                    <fieldset>
                        <label class="multilang" text="signup_person_title"></label>
                        <div class="field switch">
                            <input type="radio" id="mr" name="title" checked value="mr"/>
                            <label for="mr" class="cb-enable selected" ><span>Mr</span></label>
                            <input type="radio" id="mrs" name="title" value="mrs"/>
                            <label for="mrs" class="cb-disable"><span>Mrs</span></label>
                        </div>
                        <label class="multilang" text="signup_name"></label>
                        <input class="form-control" name="name">
                        <label class="multilang" text="signup_surname"></label>
                        <input type="text" class="form-control" name="surname">
                        <label class="multilang signup_birtday" text="signup_birtday"></label>
                        <input type="text" class="form-control" name="birthday" id="birthday" placeholder="dd/mm/yyyy">
                    </fieldset>
                    <fieldset>
                        <label class="multilang" text="signup_contact_home_address"></label>
                        <input class="form-control" name="home_address ">
                        <label class="multilang signup_contact_home_postal_code" text="signup_contact_home_postal_code"></label>
                        <input class="form-control" id="home_zip" name="home_zip">
                        <label class="multilang" text="signup_contact_home_city"></label>
                        <input type="text" class="form-control" name="city">
                        <label class="multilang" text="signup_contact_home_country"></label>
                        <input type="text" class="form-control" id="country" name="country">
                        <label class="multilang" text="signup_contact_home_phone"></label>
                        <input type="text" class="form-control phone" name="home_phone">
                        <label class="multilang" text="signup_contact_cell_phone"></label>
                        <input type="text" class="form-control phone" name="cell_phone">
                    </fieldset>
                    <fieldset>
                        <label class="multilang" text="signup_job_title"></label>
                        <input type="text" class="form-control" id="job_title" name="job_title">
                        <label class="multilang" text="signup_work_address"></label>
                        <input type="text" class="form-control" name="job_address">
                    </fieldset>
                        <input type="submit" class="btn btn-default" value="S'inscrire"/>
                        <span class="prevent_submit"></span>
                </form>
                {{if (err !== 'None') { }}
                {{=err.message}};
                {{ } }}
            </div>
        </div>
    </div>
</div>
{{- include footer.html }}
</body>
{{- include scripts.html}}
<script src="/js/jquery.maskedinput.min.js" type="text/javascript"></script>
<script src="/js/profileSelects.js" type="text/javascript"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
<script src="/js/registerCheck.js" type="text/javascript"></script>
</html>