<html>
<head>
    {{- include head.html}}
    <link rel="stylesheet" href="/css/signup.css" />
</head>
<body>
<div class="body_wrapper">
    {{- include header.html}}
    <div id="central">
        <div class="card grey_dark_bg card-wrapper">
            <div class="" id="signup_form">
                <h1>S'inscrire</h1>
                <form action="" id="register_form">
                    <fieldset>
                        <label>Title</label>
                        <input class="form-control" name="title" placeholder="RadioButton...">
                        <label text="signup_name">Name</label>
                        <input class="form-control" name="name" placeholder="Name...">
                        <label>Surname</label>
                        <input type="text" class="form-control" name="surname" placeholder="Surname...">
                        <label>Birthday</label>
                        <input type="text" class="form-control" name="birtday" placeholder="Birthday...">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" placeholder="Email..">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password...">
                        <label>Repeat Password</label>
                        <input type="password" class="form-control" name="repeat" placeholder="Password..">
                    </fieldset>
                    <fieldset>
                        <label>Home Address</label>
                        <input class="form-control" name="h_address" placeholder="Home Address...">
                        <label>Home ZIP Code</label>
                        <input class="form-control" name="h_zip" placeholder="Home ZIP Code...">
                        <label>City</label>
                        <input type="text" class="form-control" name="city" placeholder="City...">
                        <label>Country</label>
                        <input type="text" class="form-control" name="country" placeholder="Country...">
                        <label>Home Phone</label>
                        <input type="text" class="form-control" name="h_phone" placeholder="Home Phone..">
                        <label>Cell Phone</label>
                        <input type="text" class="form-control" name="c_phone" placeholder="Cell Phone...">
                    </fieldset>
                    <fieldset>
                        <label>Job Title</label>
                        <input type="text" class="form-control" name="j_title" placeholder="Job Title...">
                        <label>Job Address</label>
                        <input type="text" class="form-control" name="j_address" placeholder="Job Address">
                    </fieldset>
                        <input type="submit" class="btn btn-default" value="S'inscrire">
                </form>
                {{if (err !== 'None') { }}
                {{=err.message}};
                {{ } }}
            </div>
        </div>
    </div>
</div>
{{- include footer.html }}
</body>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
<script>
    var emailRE = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var passRE = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$/;
    var onDataLoaded = function () {
        //$('#login_submit_btn').click(login);
        register();
    }
    var login = function () {
        var testInputData = function (email, passwd) {
            var res;
            if (!emailRE.test(email)) {
                res = {};
                res.emailError = "Wrong email format";
            }
            if (!passRE.test(passwd)) {
                if (!res) {
                    res = {};
                }
                res.passwordError = "Wrong password format";
            }
            return res;
        }
        var showEmailError = function (error) {
            $('#email_sign_in').addClass('has-error');
            $('#email_error_div').text(error);
        }
        var showPasswordError = function (error) {
            $('#password_sign_in').addClass('has-error');
            $('#password_error_div').text(error);
        }
        $('#email_sign_in').removeClass('has-error');
        $('#password_sign_in').removeClass('has-error');
        $('#email_error_div').text('');
        $('#password_error_div').text('');
        var email = $('#email').val();
        var pwd = $('#password').val();
        var test_res = testInputData(email, pwd);
        if (test_res) {
            if (test_res.emailError) {
                showEmailError(test_res.emailError);
            }
            if (test_res.passwordError) {
                showPasswordError(test_res.passwordError);
            }
        } else {
            pwd = CryptoJS.SHA1(pwd).toString();
            $('#register_form').block({
                message: "Loading..."
            });
            $.post('/auth', {
                username: email,
                password: pwd
            }, function (data) {
                $('#register_form').unblock();
                if (data.err) {
                    if (data.err.field === 'email') {
                        showEmailError(data.err.error_message);
                    } else if (data.err.field === 'pass') {
                        showPasswordError(data.err.error_message);
                    } else if (data.err.field === 'general') {
                        showModalError(data.err.error_message);
                    }
                } else if (data.redirect) {
                    document.location.href = document.location.origin + data.redirect.path + '?lang=' + current_lang;
                }
            });
        }
    }

    var register = function(){
        $("#register_form").submit(function(e) {
            e.preventDefault();

            var $form = $(this);

            //TO DO Email Check, Password Check, SHA Password

            $.post('/signup', $(this).serialize(), function (data) {
                $('#register_form').unblock();
                if (data.err) {
                    //TO DO
                } else if (data.redirect) {
                    //TO DO
                }
            });
        });
    }
</script>
{{- include scripts.html}}
</html>