<html>
	<head>
		{{- include head.html}}
		<link rel="stylesheet" href="/css/witken.css" />
	</head>
	<body>
        <div class="body_wrapper">
            {{- include header.html}}
            <div id="central" class="">
                <div class="card-wrapper">
                    <div class="top_block">
                        <h1>Witken à la hauteur de l’innovation</h1>
                        <h4>Nous créons et optimisons des outils novateurs aux services des personnes.</h4>
                    </div>
                    <div class="image_text_card">
                        <img src="/img/contact.png" class="image_side_card"/>
                        <div class="text_side_card">
                            <h1>Witken</h1>
                            <br/>
                            <h4>Witken est une structure<br/>
                                qui a pour objectif de créer<br/>
                                une plateforme professionnelle innovante.</h4>
                            <h4>Nous proposons des outils puissants qui<br/>
                                permettent à nos membres d’améliorer<br/>
                                leurs image professionnelle.</h4>
                        </div>
                    </div>
                    <div class="bottom_block">
                        <div class="contact_block">
                            <h1>Contactez nous aujourd’hui</h1>
                            <h4>Nous sommes à votre services pour répondrez à vos questions.</h4>
                        </div>
                        <div class="contact_yellow yellow_bg link">
                            <img src="/img/arrow_r_s_white.png" class="contact_arrow">
                            <div>Contactez nous</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{- include footer.html }}
    </body>

	{{- include scripts.html}}
</html>