.white_text {
    color: #FFFFFF;
}

.grey_text {
    color: #9b9c9e;
}

.black_text {
    color: #343434;
}

.gold_text {
    color: rgb(199, 134, 39);
}

.red_bg {
    background-color: rgb(222, 70, 73);
}

.red_gradient{
    background-image: -webkit-gradient(
        linear,
        right bottom,
        left bottom,
        color-stop(0, #F04646),
        color-stop(1, #D02323)
    );
    background-image: -o-linear-gradient(left, #F04646 0%, #D02323 100%);
    background-image: -moz-linear-gradient(left, #F04646 0%, #D02323 100%);
    background-image: -webkit-linear-gradient(left, #F04646 0%, #D02323 100%);
    background-image: -ms-linear-gradient(left, #F04646 0%, #D02323 100%);
    background-image: linear-gradient(to left, #F04646 0%, #D02323 100%);
}

.yellow_bg {
    background-color: rgb(252, 182, 81);
}

.grey_bg {
    background-color: rgb(238, 238, 238);
}

.grey_light_bg {
    background-color: rgb(228, 228, 228);
}

.grey_dark_bg {
    background-color: rgb(218, 218, 218);
}

.black_light_bg {
    background-color: rgb(48, 49, 53);
}

.gold_bg {
    background-color: rgb(194, 168, 91);
}

.silver_bg {
    background-color: rgb(172, 172, 172);
}

.silver_light_bg {
    background-color: rgb(214, 211, 211);
}

.silver_dark_bg {
    background-color: rgb(169, 175, 175);
}

.silver_very_dark_bg {
    background-color: rgb(134, 139, 141);
}

.bronze_bg {
    background-color: rgb(210, 132, 110);
}