.white_text {
    color: #FFFFFF;
}

.grey_text {
    color: #9b9c9e;
}

.black_text {
    color: #343434;
}

.gold_text {
    color: rgb(199, 134, 39);
}

.red_bg {
    background-color: rgb(222, 70, 73);
}

.red_gradient{
    background-image: -webkit-gradient(
        linear,
        right bottom,
        left bottom,
        color-stop(0, #F04646),
        color-stop(1, #D02323)
    );
    background-image: -o-linear-gradient(top, rgb(208, 35, 35) 0%, rgb(240, 70, 70) 100%);
    background-image: -moz-linear-gradient(top, rgb(208, 35, 35) 0%, rgb(240, 70, 70) 100%);
    background-image: -webkit-linear-gradient(top, rgb(208, 35, 35) 0%, rgb(240, 70, 70) 100%);
    background-image: -ms-linear-gradient(top, rgb(208, 35, 35) 0%, rgb(240, 70, 70) 100%);
    background-image: linear-gradient(to top, rgb(208, 35, 35) 0%, rgb(240, 70, 70) 100%);
}

.orange_gradient{
    background-image: -moz-linear-gradient(left, #ffa101, #ffb83c);
    background-image: -ms-linear-gradient(left, #ffa101, #ffb83c);
    background-image: -o-linear-gradient(left, #ffa101, #ffb83c);
    background-image: -webkit-gradient(linear, left top, right top, from(#ffa101), to(#ffb83c));
    background-image: -webkit-linear-gradient(left, #ffa101, #ffb83c);
    background-image: linear-gradient(left, #ffa101, #ffb83c);
}

.gray_gradient{
    background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0, #DADADA),
        color-stop(0.67, #EEEEEE)
    );
    background-image: -o-linear-gradient(right top, #DADADA 0%, #EEEEEE 67%);
    background-image: -moz-linear-gradient(right top, #DADADA 0%, #EEEEEE 67%);
    background-image: -webkit-linear-gradient(right top, #DADADA 0%, #EEEEEE 67%);
    background-image: -ms-linear-gradient(right top, #DADADA 0%, #EEEEEE 67%);
}

.gray_gradient_top{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #919191),
        color-stop(1, #C9C9C9)
    );
    background-image: -o-linear-gradient(bottom, #919191 0%, #C9C9C9 100%);
    background-image: -moz-linear-gradient(bottom, #919191 0%, #C9C9C9 100%);
    background-image: -webkit-linear-gradient(bottom, #919191 0%, #C9C9C9 100%);
    background-image: -ms-linear-gradient(bottom, #919191 0%, #C9C9C9 100%);
    background-image: linear-gradient(to bottom, #919191 0%, #C9C9C9 100%);
}

.grey_gradient_angle{
    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0.5, #BFC9C8),
        color-stop(1, #E4E8E7)
    );
    background-image: -o-linear-gradient(left bottom, #BFC9C8 0%, #E4E8E7 100%);
    background-image: -moz-linear-gradient(left bottom, #BFC9C8 0%, #E4E8E7 100%);
    background-image: -webkit-linear-gradient(left bottom, #BFC9C8 0%, #E4E8E7 100%);
    background-image: -ms-linear-gradient(left bottom, #BFC9C8 0%, #E4E8E7 100%);
    background-image: linear-gradient(to left bottom, #BFC9C8 0%, #E4E8E7 100%);
}

.black_gradient_top{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #878787),
        color-stop(1, #1C1C1C)
    );
    background-image: -o-linear-gradient(bottom, #878787 0%, #1C1C1C 100%);
    background-image: -moz-linear-gradient(bottom, #878787 0%, #1C1C1C 100%);
    background-image: -webkit-linear-gradient(bottom, #878787 0%, #1C1C1C 100%);
    background-image: -ms-linear-gradient(bottom, #878787 0%, #1C1C1C 100%);
    background-image: linear-gradient(to bottom, #878787 0%, #1C1C1C 100%);
}

.yellow_bg {
    background-color: rgb(252, 182, 81);
}

.grey_bg {
    background-color: rgb(238, 238, 238);
}

.grey_light_bg {
    background-color: rgb(228, 228, 228);
}

.grey_dark_bg {
    background-color: rgb(218, 218, 218);
}

.grey_darkest_bg{
    background-color: rgb(207, 207, 207);
}

.black_light_bg {
    background-color: rgb(48, 49, 53);
}

.gold_bg {
    background-color: rgb(194, 168, 91);
}

.silver_bg {
    background-color: rgb(172, 172, 172);
}

.silver_light_bg {
    background-color: rgb(214, 211, 211);
}

.silver_dark_bg {
    background-color: rgb(169, 175, 175);
}

.silver_very_dark_bg {
    background-color: rgb(134, 139, 141);
}

.bronze_bg {
    background-color: rgb(210, 132, 110);
}

.green_bg{
    background-color: #38af53;
}