@font-face {
    font-family: HelveticaNeueBold;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-Bold.ttf);
}
@font-face {
    font-family: HelveticaNeueBoldItalic;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-BoldItalic.ttf);
}
@font-face {
    font-family: HelveticaNeueCondensedBlack;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-CondensedBlack.ttf);
}
@font-face {
    font-family: HelveticaNeueCondensedBold;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-CondensedBold.ttf);
}
@font-face {
    font-family: HelveticaNeueItalic;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-Italic.ttf);
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-Light.ttf);
}
@font-face {
    font-family: HelveticaNeueLightItalic;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-LightItalic.ttf);
}
@font-face {
    font-family: HelveticaNeueMedium;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-Medium.ttf);
}
@font-face {
    font-family: HelveticaNeueMediumItalic;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-MediumItalic.ttf);
}
@font-face {
    font-family: HelveticaNeueThin;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-Thin.ttf);
}
.font-HelveticaNeueThin {
    font-family: HelveticaNeueThin;
}
@font-face {
    font-family: HelveticaNeueThinItalic;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-ThinItalic.ttf);
}
@font-face {
    font-family: HelveticaNeueUltraLight;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-UltraLight.ttf);
}
@font-face {
    font-family: HelveticaNeueUltraLightItalic;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-UltraLightItalic.ttf);
}
@font-face {
    font-family: HelveticaNeue;
    src: url(/fonts/HelveticaNeue/HelveticaNeue.ttf);
}
.font-HelveticaNeue {
    font-family: HelveticaNeue;
}