.header #logo {
    width: 150px;
}

@media (max-width: 750px) {
    .header #logo {
        width: 100px;
    }
    .header .menu_item {
        border-bottom-style: groove;
        border-bottom-width: 2px;
    }
}
@media (max-width: 970px) {
    .header #logo {
        width: 100px;
    }
}