.index_header{
}

.index_footer {
	padding: 0;
    margin: 0 auto;
	margin-top: 50px;
    width: 955px;
    height: 185px;
}

.index_footer > div{
	padding-top: 10%;
	padding-left: 30px;
	margin: 0;
}

.index_footer > div > p {
	margin-top: -11px;
	line-height: 17px;
}

.index_footer > #results {
	background-image: url(../img/results-world.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.index_footer > #labels {
	background-image: url(../img/label-world.png);
	background-size: 100%;
}

.index_footer > #enterprises {
	background-image: url(../img/enterprise-world.png);
	background-size: 100%;
}

.index_footer > .link{
    width: calc(100% / 3);
    float: left;
}

.carousel_wrapper {
    width: 955px;
    height: 368px;
    margin: 0 auto;
}

.carousel_wrapper div{
    border-radius: 3px;
}

.demo_block {
    width: 100%;
}