.card{
    border-style: solid;
    border-color: rgb(226, 225, 225);
    border-width: 1px;
}

.light {
    background-color: rgb(240, 240, 240);
}

.dark {
    background-color: rgb(226, 225, 225);
}