.label_border {
    border-style: solid;
    border-color: rgb(218, 218, 218);
    border-width: 2px;
}
#labels_images_div .btn-group {
    height: 30px;
}
#labels_images_div .btn-group img{
    margin-top: 10px;
}
#labels_images_div .btn-group #gold_label_small {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#labels_images_div .btn-group #silver_label_small {
    width: 30px;
    height: 30px;
}

#labels_images_div .btn-group #bronze_label_small {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}