#login_form{
    position: relative;
    left: 40px;
    margin-bottom: 50px;
    width: 90%;
}

#login_form > div, #login_form > button, #login_form > span{
    position: inherit;
    left: 10%;
}

#login_form > div{
    width: 90%;
}

#login_form > button{
}

#login_form label{
    display: block;
}

#login_form input{
    width: 35%;
}

.inline{
    overflow: hidden;
    width: 100%;
}

#login_form div div input{
    float: left;
}

#password_sign_in > div > p{
    position: relative;
    margin-top: 7px;
    float: right;
    right: 45%;
}

#login_form > span{
    display: inline-block;
}

#login_form span p{
    position: inherit;
    top: 0.1em;
    left: 5em;
}