.profile-wrapper {
    width: 1100px;
    margin: 0 auto;
    height: 100%;
}

#profile-menu {
    padding: 0;
    float: right;
}

#profile-menu li{
    padding: 15px 30px;
}
.profile-menu-item {
    margin-top: 30px;
}

.profile{
    float: left;
}

.profile-download-buttons-wrapper, .profile-content-footer{
    position: absolute;
    bottom: 0;
    padding-bottom: 60px;
}

.profile-content *{
	padding-left: 0;
}

#profile-compte p{
	padding-top: 10px;
}

.no-content-wrapper, .outer-wrapper {
	position: relative;
    top: 50%;
}

.inner-wrapper{
    margin: 40px;
    font-size: medium;
}

.margin-40{
    margin: 40px;
}

.confirm_block{
    padding: 11px 20px;
    padding-bottom: 2px;
    line-height: 90%;
    width: 171px;
}

.contact_data_table{
    position: relative;
    margin-top: 40px;
    left: 5px;
    line-height: 1px;
}

.indexation_block{
    border-collapse: separate;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 3px solid #A9AFAF;
    top: 20px;
    height: 200px;
    width: 100%;
}

.indexation_block_left{
    float: left;
    width: 160px;
    height: inherit;
}

.indexation_block_right{
    float: left;
    margin: 20px;
    height: inherit;
}

.indexation_table{
    text-align: left;
    font-size: 13px;
    width: 100%;
}

.indexation_table td{
    height: 40px;
}

.indexation_table span{
    display: block;
}

.indexation_table td:nth-child(2) span{
    padding: 0px 5px 0px 5px;
}

.indexation_table tr:nth-child(3) td span{
    position: relative;
    top: 10px;
}

.indexation_table tr:first-child td:last-child span, .indexation_table tr:last-child td span{
    text-align: right;
}

.small_circles_block{
    width: 160px;
    position: relative;
    top: 130px;
    left: 15%;
    font-size: 13px;
}

.text_block{
    margin: 40px 0px 25px 0px;
}

.terms_block{
    position: relative;
    top: 40px;
}

.terms_block a{
    color: #9b9c9e;
    text-decoration: underline;
}

.terms_block a:hover{
    color: #696969;
    text-decoration: underline;
}

.links_block{
    position: relative;
    top: 70px;
}

.results_block{
    position: relative;
    padding: 20px 0px;
    width: 100%;
    top: 100px;
}

.results_block > div{
    position: relative;
    top: 3px;
    left: 22%;
    margin: 0 auto;
}

.results_detail_block > p{
    position: relative;
    margin-left: 20px;
}

.result_img_circle{
    padding: 10px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    height: 85px;
}

.small_circle, .small_circle_padded{
    padding: 1px;
    border: 2px solid #000000;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin-left: 14px;
}

.small_circle_padded{
    padding: 1px 3px;
    margin-left: 0px;
}

#profile-examen > div > div.links_block > div > span{
    font-size: 16px;
}

.profile_personnal_number_text{
    margin-bottom: 30px;
}

.square_border{
    margin-left: 30px;
    padding: 2px;
    font-size: 22px;
    border: 2px solid #000000;
    border-radius: 3px;
}

.margin-left-120{
    margin-left: 120px;
}

.test_qi_block{
    position: relative;
    left: 13%;
    top: 10px;
}

.profile_id_number{
    position: relative;
    padding: 22px 5px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    left: 48px;
    font-size: 12px;
    top: 52px;
}

.test_qi_block > div{
    margin-left: 70px;
}

.results_block div div > p{
    position: relative;
    bottom: 1px;
}

.top-200{
    position: relative;
    top: 200px;
}

.top-35{
    position: relative;
    top: 35px;
}

.top-15{
    position: relative;
    top: 15px;
}

.top-60{
    position: relative;
    top: 56px;
}

.left-14{
    left: 14% !important;
}

.padding-top-40{
    padding-top: 38px;
}

.padding-top-40 > span{
    width: 100px;
    display: inline-block;
}