#profile-menu {
    padding: 0;
}

#profile-menu li{
    padding: 10px 30px;
}
.profile-menu-item {
    margin-top: 30px;
}

.profile{
    padding: 0px 30px;
}

.profile-download-buttons-wrapper{
    position: absolute;
    bottom: 0;
}



