html,
body {
    background-color: rgb(238, 238, 238);
    height: 100%;
}
small {
    line-height: 18px;
}
a,
a: hover {
    color: inherit;
    text-decoration: inherit;
}
.header {
    background-color: rgb(218, 218, 218);
}
.header .link {
    cursor: pointer;
}
.header .link: hover {
    text-decoration: overline;
}
#logo {
    width: 150px;
}
.user-space-support {
    background-color: rgb(222, 70, 73);
    color: white;
}
.central {
    margin-top: 50px;
}
.carousel-inner .item {
    background-color: rgb(48,49,53);
}
.white_text {
    color: white;   
}
.footer {
    background-color: rgb(53, 57, 60);
    height: 150px;
    color: white;
}
@media (max-width: 750px) {
    #logo {
        width: 100px;
    }
    .header_menu_item {
        border-bottom-style: groove;
        border-bottom-width: 2px;
    }
}
@media (max-width: 970px) {
    #logo {
        width: 100px;
    }
}
@media (max-width: 1170px) {
    .central {
        margin-top: 0px;
    }
}
@media (min-width: 750px) and (max-width: 970px) {
    h3 {
        font-size: 99%;
    }
    small {
        font-size: 75%;
        line-height: 13px;
    }
}