html,
body {
    overflow-x: hidden;
    letter-spacing: 1px;
}
small {
    line-height: 15px;
}
h1 {
    font-family: HelveticaNeueThin;
}

h3 {
    font-family: HelveticaNeue;
}

.js_redirect_login{
    font-family: HelveticaNeueThin;
}

.thin{
    font-family: HelveticaNeueThin;
}

h4 {
    font-family: HelveticaNeueUltraLight;
}
small {
    font-family: HelveticaNeueThin;
}
p{
    font-family: HelveticaNeueThin;
/*    font-size: 1.1em;*/
}

footer {

    height: 150px;
    padding-top: 50px;
}
footer .social-img {
    width: 30px;
}

footer table{
    float: right;
    margin-right: 40px;
}

.footer_wrapper{
    width: 955px;
    margin: 0 auto;
}

.copyright{
    float: left;
}

.padding-10{
    padding: 10px;
}

.bottom-aligned {
    position: absolute;
    bottom: 0;
}
.header {
    height: 150px;
    width: 955px;
    margin: 0 auto;
}
.menu_item {
    height: 150px;
    padding-top: 45px;
    float: right;
    width: calc(955px / 7);
    margin: 0 auto;
    padding-left: 20px;
}

.menu_item:first-child{
    margin-left: 50px;
}

.logo {
    float: left;
    height: 150px;
    padding-top: 0;
}

.user-content{
    padding-left: 10px;
    width: 220px;
}
#central {
    margin-top: 50px;
    margin-bottom: 50px;
}