@font-face {
    font-family: HelveticaUltraLight;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-UltraLight.ttf);
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-Light.ttf);
}
@font-face {
    font-family: HelveticaNeue;
    src: url(/fonts/HelveticaNeue/HelveticaNeue.ttf);
}
@font-face {
    font-family: HelveticaNeueUltraLightItalic;
    src: url(/fonts/HelveticaNeue/HelveticaNeue-UltraLightItalic.ttf);
}
html,
body {
    font-family: HelveticaNeueLight;
}
small {
    font-family: HelveticaUltraLight;
    line-height: 15px;
}
p {
    font-size: 18px;
}

h1 {
    font-family: HelveticaNeueLight;
}
h3 {
    font-family: HelveticaNeue;
    font-size: 20px;
}
.italic {
    font-family: HelveticaNeueUltraLightItalic;
}