<section class="carousel_wrapper">
    <ul id="carousel">
        <li><a href="#slide1"><img src="img/hand_witken.png"></a>
            <h1 class='multilang' text="index_slide1_title"></h1>
            <span class='text multilang' text="index_slide1_text"></span>
            <span class='discover multilang' text="general_decouvrez"></span>
        </li>
        <li><a href="#slide2"><img src="img/hand_witken.png"></a>
            <h1 class='multilang' text="index_slide1_title"></h1>
            <span class='text multilang' text="index_slide1_text"></span>
            <span class='discover multilang' text="general_decouvrez"></span>
        </li>
        <li><a href="#slide3"><img src="img/hand_witken.png"></a>
            <h1 class='multilang' text="index_slide1_title"></h1>
            <span class='text multilang' text="index_slide1_text"></span>
            <span class='discover multilang' text="general_decouvrez"></span>
        </li>

    </ul>
</section>

<!--<div id="index_carousel" class="carousel slide black_light_bg row" data-ride="carousel">

	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	 </ol>

	<div class="carousel-inner">
		<div class="item active row">
			<h1 class="multilang col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-12 white_text" text="index_slide1_title"></h1>
			<span class="multilang grey_text italic col-lg-12 col-lg-offset-6 col-md-12 col-md-offset-6 col-sm-12 col-sm-offset-6 col-xs-12" text="index_slide1_text"></span>
			<img src="/img/index_carousel_slide_1_hand.png" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

			{{ if(user==='None'){ }}
			<div class="bottom-aligned col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4 hidden-xs gold_text witken_button">
			{{ }else{ }}
			<div class="bottom-aligned col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 hidden-xs gold_text witken_button">
			{{ } }}
				<span class="multilang link js_redirect_label" text="general_decouvrez"></span>
				<i class="glyphicon glyphicon-chevron-right"></i>
			</div>
		</div>

		<div class="item row">
			<h1 class="multilang col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-12 white_text" text="index_slide1_title"></h1>
			<span class="multilang grey_text italic col-lg-12 col-lg-offset-6 col-md-12 col-md-offset-6 col-sm-12 col-sm-offset-6 col-xs-12" text="index_slide1_text"></span>
			<img src="/img/index_carousel_slide_1_hand.png" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

			{{ if(user==='None'){ }}
			<div class="bottom-aligned col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4 hidden-xs gold_text witken_button">
			{{ }else{ }}
			<div class="bottom-aligned col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 hidden-xs gold_text witken_button">
			{{ } }}
				<span class="multilang link js_redirect_label" text="general_decouvrez"></span>
				<i class="glyphicon glyphicon-chevron-right"></i>
			</div>
		</div>

		<div class="item row">
			<h1 class="multilang col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-12 white_text" text="index_slide1_title"></h1>
			<span class="multilang grey_text italic col-lg-12 col-lg-offset-6 col-md-12 col-md-offset-6 col-sm-12 col-sm-offset-6 col-xs-12" text="index_slide1_text"></span>
			<img src="/img/index_carousel_slide_1_hand.png" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

			{{ if(user==='None'){ }}
			<div class="bottom-aligned col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4 hidden-xs gold_text witken_button">
			{{ }else{ }}
			<div class="bottom-aligned col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 hidden-xs gold_text witken_button">
			{{ } }}
				<span class="multilang link js_redirect_label" text="general_decouvrez"></span>
				<i class="glyphicon glyphicon-chevron-right"></i>
			</div>
		</div>
	</div>

	<a class="left carousel-control" href="#index_carousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#index_carousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>-->

