<section class="carousel_wrapper">
    <ul id="carousel">
        <li><a href="#slide1"><img src="img/hand_witken.png"></a>
            <h1 class='multilang' text="index_slide1_title"></h1>
            <span class='text multilang' text="index_slide1_text"></span>
            <span class='discover multilang' text="general_decouvrez"></span>
        </li>
        <li><a href="#slide2"><img src="img/hand_witken.png"></a>
            <h1 class='multilang' text="index_slide1_title"></h1>
            <span class='text multilang' text="index_slide1_text"></span>
            <span class='discover multilang' text="general_decouvrez"></span>
        </li>
        <li><a href="#slide3"><img src="img/hand_witken.png"></a>
            <h1 class='multilang' text="index_slide1_title"></h1>
            <span class='text multilang' text="index_slide1_text"></span>
            <span class='discover multilang' text="general_decouvrez"></span>
        </li>

    </ul>
</section>

