<div class="index_footer grey_dark_bg white_text">
    <div class="link js_redirect_profile" id="results">
        <h3 class="multilang thin" text="general_results"></h3>
        <p class="multilang" text="index_footer_results_text"></p>
    </div>
    <div class="link" id="labels">
        <h3 class="multilang thin" text="general_label"></h3>
        <p class="multilang" text="index_footer_labels_text"></p>
    </div>
    <div class="link" id="enterprises">
        <h3 class="multilang thin" text="general_enterprise"></h3>
        <p class="multilang" text="index_footer_enterprises_text"></p>
    </div>
</div>