§§if(render=='full') {;§
<!doctype html>
<html>
<!--TODO Button TOP!!!-->
<head>
    §§- include unique/head.html;§
</head>

<body class="black_text grey_bg">
    <div class="container-fluid">
        §§- include unique/header.html;§
        <div id="central" class="row">
            <div id="content" class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
§§};§                        
                    §§if(content=='index'){;§
                        §§- include content/index.html;§
                    §§}else if(content=='label'){;§
                        §§- include content/label.html;§
                    §§}else if(content=='examen'){;§
                        §§- include content/examen.html;§
                    §§}else if(content=='witken'){;§
                        §§- include content/witken.html;§
                    §§}else if(content=='login'){;§
                        §§- include content/login.html;§
                    §§}else if(content=='signup'){;§
                        §§- include content/signup.html;§
                    §§}else if(content=='profile'){;§
                        §§- include content/profile.html;§
                    §§};§
                    
                    
§§if(render=='full') {;§
                </div>                    
            </div>
                
        </div>
            §§- include unique/footer.html;§
    </div>
</body>

§§- include unique/scripts.html;§
</html>
§§};§