<div class="profile col-lg-9 col-md-10 col-sm-10 col-xs-12 silver_light_bg">
    <div id="profile-examen" class="profile-content">
        <h1>§§=user.human_data.first_name;§ §§=user.human_data.last_name;§</h1>
        <p class="link js_redirect_logout pull-right">logout</p>
        <br />
        <span class="multilang font-HelveticaNeueThin" text="profile_text_exam_1"></span>
        <span>§§=user.examen.date.toLocaleDateString();§</span>
        §§if(user.examen.date.getHours() > 8){;§
        <span class="multilang font-HelveticaNeue" text="profile_text_exam_time_morning"></span>
        §§}else{;§
        <span class="multilang font-HelveticaNeueThin" text="profile_text_exam_time_afternoon"></span>
        §§};§
        <br />
        <br />
        <span class="yellow_bg padding-10" id="exam_status"></span>
        <div class="profile-download-buttons-wrapper">
            <div class="link silver_very_dark_bg white_text font-HelveticaNeueThin profile-download-file pull-left" text="profile_text_convocation">
            </div>
            <div class="link silver_very_dark_bg white_text font-HelveticaNeueThin profile-download-file pull-left" text="profile_text_horaires_detaile">
            </div>
        </div>
    </div>
    <div id="profile-resultat" class="profile-content hide">
        <h1>§§=user.human_data.first_name;§ §§=user.human_data.last_name;§</h1>
        <h2>Pas des resultats pour le moment.</h2>
    </div>
    <div id="profile-label_and_certificats" class="profile-content hide">
        <h1>§§=user.human_data.first_name;§ §§=user.human_data.last_name;§</h1>
        <h2>Pas des label pour le moment.</h2>
    </div>
    <div id="profile-indexation" class="profile-content hide">
        <h1>§§=user.human_data.first_name;§ §§=user.human_data.last_name;§</h1>
        <br />
        <div class="center link silver_very_dark_bg white_text font-HelveticaNeueThin profile-download-file pull-left" text="profile_text_terms">
        </div>
        <div class="profile-content-footer">
            <p class="font-HelveticaNeueMedium grey_text multilang" text="profile_indexation_insubscription"></p>
            <p class="grey_text multilang" text="profile_indexation_insubscription_text"></p>
        </div>
    </div>
    <div id="profile-messages" class="profile-content hide">
        <h1>§§=user.human_data.first_name;§ §§=user.human_data.last_name;§</h1>
        <h2>Pas des notification pour le moment.</h2>
    </div>
    <div id="profile-compte" class="profile-content hide">
        <h1>§§=user.human_data.first_name;§ §§=user.human_data.last_name;§</h1>
        <h2>Pas des compte pour le moment.</h2>
    </div>
</div>

<div id="profile-menu" class="silver_dark_bg white_text col-lg-3 col-md-2 col-sm-2 hidden-xs">
    <ul class="list-unstyled">
        <li class="profile-menu-item active silver_very_dark_bg link">
            <h4 class="multilang" text="general_examen"></h4>
        </li>
        <li class="profile-menu-item link">
            <h4 class="multilang" text="general_results"></h4>
        </li>
        <li class="profile-menu-item link">
            <h4 class="multilang" text="general_label_and_certificats"></h4>
        </li>
        <li class="profile-menu-item link">
            <h4 class="multilang" text="general_indexation"></h4>
        </li>
        <li class="profile-menu-item link">
            <h4 class="multilang" text="general_messages"></h4>
        </li>
        <li class="profile-menu-item link">
            <h4 class="multilang" text="general_compte"></h4>
        </li>
    </ul>
</div>
<script>
    §§- include ../onDataLoadedScripts/profile.js ;§
</script>