<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="multilang text-right" text="examen_inscription_title"></h1>
    {{ if(events!=='None' && events.length>0){ }}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="locations">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="dates">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="times">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-8 col-md-3 col-md-offset-8 col-sm-3 col-sm-offset-8 col-xs-12 text-right" id="button_div">

        </div>
    </div>
    {{ }else if(err=='None'){ }}
    <div class="alert alert-danger">
        <p>Sorry, no events this time.</p>
    </div>
    {{ }else{ }}
    <div class="alert alert-danger">
        <p>Error: {{=err.message}}</p>
    </div>
    {{ } }}
</div>